<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <jmxConfigurator />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log message format -->
        <encoder>
            <pattern>%d{ISO8601} [%thread] %highlight(%-5level) %cyan(%logger{15}:%line) - %msg %n
            </pattern>
        </encoder>
    </appender>


    <!-- Setting the root level of logging to INFO -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="py4j" level="TRACE"  additivity="true">
    </logger>


</configuration>

